/* pile2100 - moment3 css
2021-09-22  */

body 
  {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    width:100%;
    margin:0 auto;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
  }

  .firststycke img
   {
    display: block;
    width:200px;
    height:120px;   
    padding-bottom:15px;
  }

  i
   {
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
  }

  .top_navigator ul 
  { 
    height: 100px;
    width: 80%;
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .topnav li 
  {
    width:150px;
    /* top:30px; */
    position: relative;
    /* float: left; */
    border-right:1px solid #bbb;
  }

/* TOPNAV UL */
  .topnav ul 
  {
  display: flex;
  /* Border */
  border: 1px solid rgba(0, 0, 0, 0.3);

  /* Hidden by default */
  display: none;

  /* Absolute position */
  left: 0;
  position: absolute;
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Width */
  width: 200px;
  }


 a:visited
  {
    color:black;
    background-color:rgba(253, 251, 251, 0.781);
    line-height:100px;
  }


  .topnav .active a
  {
    color:black;
    background-color:rgb(185, 181, 181);
    line-height:100px;
  }

  .topnav .active1 a 
  {
    color:black;
    background-color:rgb(255, 255, 255);
    line-height:100px;
  }

  .topnav ul ul 
  {
    left: 100%;
    position: absolute;
    top: 0;
  }

  li:last-child
   {
    border-right: none;
  }

  .topnav li a 
  {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    text-transform:uppercase;
    font-size:24px;
    line-height:95px;
  }

  .topnav li a:hover:not(.active) 
  {
    background-color: white;
    color:black;
    height: 100%;
  }

  .topnav li:hover > ul 
  {
    background-color: rgba(0, 0, 0, 0.829);
    display: inline-flex;
    width: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100px;
    /* height:170px; */
    line-height:71px;
  }

  .topnav li:hover > li
  {
    color:black;
    width:200px;
  }


  .pictureLeftDesign {
    /* top:400px; */
    position:fixed;
    left:0px;
    float:left;
    height:100%;
    width:20%;
  }


  .pictureRightDesign {
    padding-bottom:20px;
    float:right;
    width:100%;
    height:100%;
  }


  footer .footer_aside_left 
  {
    float:left;
    width:33.33%;
    height:100%;
    margin:0;
    padding:0;
  }

  footer .footer_aside_middle 
  {
    text-align: center;
    float:left;
    width:33.33%;
    margin:0;
    padding:0;
  }

 h1,h2,h3,td, fieldset, span, p, i {

  color:#050709;
  


 }

  .footer_aside_middle > h3,h4,h5 {
    color:rgb(255, 255, 255);
  }

  footer .footer_aside_right
  {
    text-align:center;
    float:left;
    width:33.33%;
    margin:0;
    padding:0;
  }

  footer  {
    clear:both;
    width:100%;
    height:300px;
    background-color:black;
    /* position:fixed; */
  }

  footer .footer_section 
  {
    height:100%;
    width:80%;
    margin:0 auto;
  }


/* left nav for picture page code begin */
.picLeftNav a:visited {

background-color:red;
color:black;


}


.picLeftNav .active a 
{
  color:black;
  background-color:#b9b5b5;
}

ul.picLeftNav {
  margin:0;
  padding:0;
  width: 100%; /* Set a width if you like */
}

.picLeftNav li
 {
  display: block;
  line-height: 36px;
  text-align: center;
}

.picLeftNav li:last-child 
{
 border-right: none;
}


.picLeftNav li:hover > li
{
  color:black;
  width:200px;
}


.picLeftNav li a:hover {

background-color:white;

}

.picLeftNav li a 
{
  font-size:14px;
  text-transform: uppercase;
  color:rgb(10, 10, 10); /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.picLeftNav li a:hover:not(.active) 
{
  color:black;
  background-color: white;
}

.footer_menu .active 
{
  background-color: #04AA6D;
}



  .footer_menu .active a 
  {
    color:black;
    background-color:rgb(185, 181, 181);
  }

  ul.footer_menu {
    margin:0;
    padding:0;
    width: 100%; /* Set a width if you like */
  }

  .footer_menu li
   {
    display: block;
    line-height: 36px;
    text-align: center;
  }
  
  .footer_menu li:last-child 
  {
   border-right: none;
  }
  
  .footer_menu li a 
  {
    font-size:14px;
    text-transform: uppercase;
    color:white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  .footer_menu li a:hover:not(.active) 
  {
    color:black;
    background-color: rgba(255, 255, 255, 0.904);
  }
  
  .footer_menu .active 
  {
    background-color: #04AA6D;
  }

/*  END - footer menu code end */



.startpage {

  padding-bottom: 130px;
  padding-top: 130px;
  /* top: 140px; */
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
  /* height: 1600px; */
  /* /* bottom: 130px; */
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}



main
     {
      padding-bottom: 130px;
      padding-top: 130px;
      /* top: 140px; */
      /* position: relative; */
      width: 60%;
      margin: 0 auto;
      /* height: 1600px; */
      /* /* bottom: 130px; */
    }


  header
   {
    background-color: black;
    z-index: 100;
    top:0;
    position: fixed;
    margin:0;
    padding:0;
    width: 100%;
  }

  nav
  {
    width:65%;
    margin:0 auto;
  }

  /* table */
  table, th, td 
  {
    padding:10px;
    border: 1px solid black;
  }

  table 
  {
    width:80%;
    margin-left:auto;margin-right:auto;
  }

  thead 
  { 
    text-transform: uppercase;
    font-weight: bold;
  }

  .trtdI
   {
    font-weight: 400;
    text-transform: uppercase;
  }

  tbody 
  {
    background-color:#b9b5b5;
    color:white;
  }

  .layout_table 
  {
    margin-top:100px;
  }

  .trtdII 
  {
    text-transform: capitalize;
  }

  input[type="text"] 
  {
    display: block;
  }

  input[type="email"] 
  {
   display: block;
  }

   textarea 
  {
    display: block;
  }

  input[type="checkbox"] 
  {
    display: block;
  }

  label 
  {
    margin-right:10px;
    float:left;
  }

  select 
  {
   display: block;
  }

  .employee_radios
   {
    clear: both;
    display: block
  }

  .mezz 
  {
   clear:both;
  }

  textarea 
  {
    clear:both;
  }

  .layout_form 
  {
    width:60%;
    margin:0 auto;
  }

  fieldset 
  {
    padding: 25px;
    background: #0000001a;
  }

  .space 
  {
    margin-bottom:20px;
  } 

  .section_form 
  {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "form_lt form_rt";
    grid-template-rows: 100%;
    margin-top:100px;
  }

  .form_left 
  {
    grid-area: form_lt;
  }

  .form_right 
  {
    grid-area: form_rt;
  }

  .album 
  {
    /* margin-top: 90px; */
    display: inline-flex;
  }

  .album img
  {
    padding: 10px;
    width:500px;
    height:calc(500px);
  }

  .album .desc 
  {
    text-indent: 10px;
    width: 93%;
    /* background-color: #b9b5b5; */
    padding: 10px;
    color: black;
    margin: 0 auto;
  }


/* about me */

  .aboutme_layout 
  {
    height:400px;
    margin-top:100px;
  }

  .aboutme_layout article
  {
    width:50%;
    float:left;
  }

  .aboutme_layout article span
  {
    display: block;
  }

  .presensation_details 
  {
    line-height: 40px;
  }

  .presensation_details img 
  
  {
          height:100px;
    width:150px;
  }

  .presensation_profilbild
  {
    width:50%;
    float:left;
  }

  .presensation_profilbild img
    {

     width:300px;
    }


    .fixed_backgroundImg {

      background:url(../images/bluewater-sweden-7fgMeID38TY-unsplash.jpg);
      background-size:cover;
      height:400px;
      width:100%;
      background-attachment: fixed;


    }

    .firststycke, .firststycke {

width:60%;
margin: 0 auto;

    }